/* Ajustes responsivos */
@media (max-width: 1024px) {
}
@media (max-width: 768px){
    body{
        background: url(./img/background-image.jpg) no-repeat center center;
        object-fit: cover;
        background-attachment: scroll;
    }
    nav{
        flex-direction: column;
        padding: 30px 10px 0 0;
        align-items: stretch;
    }
    .logo{
        text-align: center;
        margin-bottom: 15px;
    }
    .logo img{
        width: 150px;
    }
    .search{
        position: static;
        width: 70%;
        margin: 20px auto;
        transform: none;
        padding: 6px 0;
    }
    .search input{
        width: 100%;
        padding: 8px 15px;
    }
    .image-block{
        width: 90%;
        margin: 10px auto;
    }
    .image-block img{
        height: 300px;
    }
    .menu{
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        width: 90%;
        margin: 20px auto;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .menu a button{
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
    .gallery{
        width: 93%;
        margin: 20px auto 0;
        padding: 0;
        display: block;
    }
    .slider{
        width: 90%;
        margin: 0 auto;
        padding: 15px;
    }
    .images .image-item img{
        width: 85%;
        height: 120px;
    }
    .image-text{
        padding: 10px;
        border-radius: 5px;
    }
    .image-text h2{
        font-size: 8px;
    }
    .image-text p{
        font-size: 8px;
    }
    .image-text a{
        font-size: 8px;
    }
    footer .offer{
        display: block;
        position: relative;
        width: 90%;
        margin: 90px auto;
        margin-bottom: -15%;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.9);
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    }
    footer .offer img{
        margin-top: -10px;
        margin-right: -5px;
    }
    .social-media{
        width: 90%;
        margin: 30px auto;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        padding: 15px;
    }
    .copyright{
        display: block;
        position: relative;
        width: 80%;
        margin: 10px auto;
        margin-top: -15px;
        text-align: center;
        font-size: 12px;
        color: #555;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    }
}

@media (max-width: 480px){
    nav{
        flex-direction: column;
        padding: 15px 10px 0 0;
        align-items: stretch;
    }
    .logo{
        text-align: center;
        margin-bottom: -20px;
    }
    .logo img{
        display: block;
        margin: 0 auto;
        width: 150px;
    }
    .search{
        position: static;
        width: 90%;
        margin: 40px auto;
        transform: none;
    }
    .image-block{
        width: 90%;
        margin: -15px auto;
    }
    .image-text-principal{
        font-size: 12px;
        padding: 15px;
    }
    .menu{
        position: relative;
        width: 90%;
        margin: 30px auto;
        padding: 15px;
    }
    footer .offer{
        display: block;
        position: relative;
        width: 90%;
        margin: 90px auto;
        margin-bottom: -15%;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.9);
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    }
    .slider{
        display: none;
    }
    .social-media{
        display: none;
    }
    .copyright{
        display: block;
        position: relative;
        width: 90%;
        margin: 10px auto;
        text-align: center;
        font-size: 12px;
        color: #555;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    }
}