/* Responsive Style */
@media (max-width: 1024px){
    .image-block{
        width: 95%;
    }
    .image-text-principal{
        font-size: 14px;
    }
}
@media (max-width: 768px){
    nav{
        flex-direction: column;
        padding: 30px 10px 0 0;
        align-items: stretch;
    }
    .logo{
        text-align: center;
        margin-bottom: -20px;
    }
    .logo img{
        width: 150px;
    }
    .search{
        position: static;
        width: 100%;
        margin: 0 auto;
        transform: none;
        padding: 6px 0;
    }
    .search input{
        width: 100%;
        padding: 8px 15px;
    }
    .image-block{
        width: 90%;
        margin: 10px auto;
    }
    .image-block img{
        height: auto;
    }
    .menu{
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        width: 90%;
        margin: 20px auto;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .menu a button{
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
    .gallery{
        width: 90%;
        margin: 20px auto 0;
        padding: 0;
        display: block;
    }
    .slider{
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    }
    .images .image-item img{
        width: 220px;
        height: 130px;
    }
    .image-text{
        left: 25%;
        width: 60%;
        top: 40%;
    }
    footer .offer {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .social-media{
        width: 90%;
        margin: 30px auto;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        padding: 15px;
    }
    .copyright{
        width: 90%;
        margin: 0 auto 20px;
        text-align: center;
        border-radius: 10px;
    }
}

@media (min-width: 480px){
    nav{
        flex-direction: column;
        padding: 15px 10px 0 0;
        align-items: stretch;
    }
    .logo{
        text-align: center;
        margin-bottom: -20px;
    }
    .logo img{
        display: block;
        margin: 0 auto;
        width: 150px;
    }
    .search{
        position: static;
        width: 90%;
        margin: 40px auto;
        transform: none;
    }
    .image-block{
        width: 90%;
        margin: -15px auto;
    }
    .image-text-principal{
        font-size: 12px;
        padding: 15px;
    }
    .menu{
        position: relative;
        width: 90%;
        margin: 30px auto;
        padding: 15px;
    }
    footer .offer{
        display: none;
    }
    .slider{
        display: none;
    }
    .social-media{
        display: none;
    }
    .copyright{
        display: none;
    }
}